<div class="card">
    <div class="card-header">
      <h4>Hijo</h4>
    </div>
    <div class="card-body">
      <div class="form-group">
          <label for="miNombre">Di el nombre que me gusta</label>
          <input type="text" class="form-control" name="miNombre" id="miNombre" placeholder="" [(ngModel)]="miNombre">
          <button type="button" class="btn btn-primary" (click)="btnRespuesta()">No me gusta {{nombre}}</button>
    </div>
    <div class="card-footer text-muted">
      <p>Me llamo {{miNombre}}</p>
  
    </div>
  </div>