<div class="card">
  <div class="card-header">
      <h4 class="card-title">Busqueda en Google</h4>
  </div>
  <div class="card-body">
      <div class="form-group">
          <label for="clave">Clave de Busqueda</label>
          <input type="text" class="form-control" name="clave" id="clave"  placeholder="" [(ngModel)]="clave">
      </div>
      <button type="button" class="btn btn-primary" (click)="buscar()">Buscar</button>
      
  </div>
  <div class="card-footer text-muted">
    Resultado
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let libro of listaLibros">{{libro}}</li>
    </ul>
  </div>
</div>